

body{
  background: #202020;
}
#chart {
  
  width: 75%;
  height: 500px;
  float: left;
}

#currentTempContainer{
  width: 20%;
  height: 500px;
  float: left;
}


#currentTemp{
  font-size: 150px;
  color: #dddddd;
  padding: 30%;
}
