<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    
    
    <!-- <canvas id="tempChart" width="400" height="200"></canvas>
    <script src = "javascripts/testChart.js"></script> -->


    <div id="chart"></div>
    
    <div id="currentTempContainer">
        <div id="currentTemp">
          0.0
        </div>

    </div>

        
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    
    <!-- Chart code -->
    <script src="javascripts/initGraph.js"></script>
    <script src="javascripts/controlGraph.js"></script>
        
        
      

</html>
